#PCB
PCBs/MCU_DataLoggerPCB-backups/
PCBs/fp-info-cache
PCBs/MCU_DataLoggerPCB.kicad_prl
PCBs/~MCU_DataLoggerPCB.kicad_sch.lck
PCBs/#auto_saved_files#
PCBs/~MCU_DataLoggerPCB.kicad_pcb.lck
PCBs/2_layer_MCU_DataLogger_Gerbers/
PCBs/4_layer_MCU_DataLogger_Gerbers/